<header class="app-header">
  <div class="header-inner">
    <!-- Logo -->
    <div class="logo-container">
      <a routerLink="/">
        <img class="logo" src="assets/aulaMagica.png" alt="Aula Mágica Logo" />
      </a>
    </div>

    <!-- Menú -->
    <nav class="nav-menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a routerLink="/reglas" routerLinkActive="active">Reglas</a>
      <a routerLink="/aula-magica" routerLinkActive="active">Aula Mágica</a>
      <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </nav>
  </div>
</header>
